.big-box{
	background: blue;
	padding: 50px 50px;
	margin: 8px;
	text-align: center;
	color: white;
}
.mini-box{
	background: blue;
	padding: 20px 20px;
	margin: 8px;
	text-align: center;
	color: white;
}
.blockquote{
	position: relative;
}
.blockquote::before{
	position: absolute;
	font-family: Cooper Black;
	content: "\201C";
	font-size: 3rem;
	top: -1rem;
	color: white;
	font-weight: bold;
}
.blockquote p{
	padding-left: 2rem
}